
@font-face {
    font-family: 'Helvetica';
    src: url('/Helvetica-Neue-LT-Com-63-Medium-Extended.woff2') format('WOFF2');
}

@font-face {
    font-family: 'Helvetica-bold';
    src: url('/HelveticaNeueLTPro-BdEx.woff2') format('WOFF2');
}


body{
    margin: 0;
    animation: visible 0.4s;
}

:root{
    --padding: 25px;
    --poller: "Poller One", cursive;
    --gap: 10px;
    --mid-gap: 25px;
    --primary-color: #E50914;
    --primary-color-trans:rgba(229, 9, 20, 0.9);
    --feint: rgb(60, 60, 60);
    --feint-trans: rgba(60, 60, 60, 0.9);
    --radius: 40px;
    --radius-round: 50%;
    --input-color: rgb(250, 250, 250);
    --input-feint: rgb(195, 195, 195);
    --placeholder-color: rgb(195, 195, 195);
}

.logo{
    text-align: left;
}

.welcome{
    position: relative;
    width: 360px;
    display: flex;
    align-items: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    padding: var(--padding);
    background-color: white;
}

.header-map{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    padding: var(--padding);
    background-color: transparent;
}

.input-background{
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    background-color: var(--input-color);
    border-radius: var(--radius);
    padding: 0 var(--padding);
}

.input-background-normal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    background-color: var(--input-color);
    border-radius: 1000px;
    padding: var(--padding);
}

.vert-divider{
    height: 58px;
    width: 1px;
    background-color: var(--input-color);
}

.nowrap{
    white-space: nowrap;
}

img{
    object-fit: cover;
}

.map-bottom-content{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: white;

}

.staff-banner{
    height: 230px;
}

.staff-banner img{
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
}

.empty-icon{
    width: 24.02px;
    height: 24.02px;
}

.my-font-align{
    padding-top: 4px;
}

*{
    font-family: "Helvetica";
    font-size: 12px;
    color: var(--feint);
}

.input-feint{
    color: var(--input-feint);
}

.top-curve{
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.mid-gap{
    gap: var(--mid-gap) !important;
}

.heavy{
    font-family: "Helvetica-bold";
}

.slogan{
    font-size: 25px;
}

.display-flex{
    display: flex;
    gap: var(--gap);
}

.icon-float-right{
    position: absolute;
    top: -113px;
    right: var(--padding);
}

.input-contain{
    background-color: var(--input-color);
    border-radius: var(--radius);
    padding: 0 25px;
    height: 65px;
    display: flex;
    align-items: center;
}

.input-contain *{
    text-align: left;
}

.input-placeholder{
    margin-top: 5px;
    font-size: 8px;
    white-space: nowrap;
    padding-top: 5px;
    color: var(--placeholder-color);
}

.input-disabled{
    color: var(--placeholder-color);
}

::placeholder{
    color: var(--placeholder-color) !important;
}

input:not(input[type=range]), select{
    /*padding-top: 5px;*/
    box-sizing: border-box;
    border: none;
    width: 100%;
    background-color: inherit;
    margin-left: -1px;
}

input:focus, select:focus{
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 35px var(--input-color) inset !important;
}

.display-flex-align{
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.display-flex-justify{
    display: flex;
    justify-content: center;
    gap: var(--gap);
}

.featured{
    background-color: var(--input-color);
    padding: 0 var(--padding);
    height: 65px;
    border-radius: var(--radius);
}

.display-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
}

.map-bottom-content{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--padding);
    background-color: white;

}

.staff-add{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--padding);
    z-index: 30;
    background-color: white;

}

.price-day{
    background-color: var(--primary-color-trans) !important;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
}

.price-day *{
    color: white !important;
}

.price-day span{
    float: left;
}

.price-night{
    background-color: var(--feint-trans);
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
}

.driver-details{
    height: 65px;
    background-color: var(--input-color);
    border-radius: var(--radius);
    padding: 0 var(--padding);
    padding-right: 0;
}

.welcome-ini-design{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
}

.welcome-ini-design *{
    color: white;
}

.home-design-background{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 1000px;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.home-design-top{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(var(--primary-color), transparent);
    height: 65px;
    z-index: 10;
}

.home-design-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(transparent, var(--primary-color));
    height: 65px;
    z-index: 10;
}

.home-design-left{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, var(--primary-color), transparent);
    width: 65px;
    z-index: 10;
}

.home-design-right{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to left, var(--primary-color), transparent);
    width: 65px;
    z-index: 10;
}

.loader {
    width: 0px;
    height: 0px;
    border: 2px solid var(--input-color);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.4s linear infinite;
    transition: 0.2s;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader-spin-color{
    border-bottom-color: var(--feint);
}

.price-night *{
    color: white;
}

.price-night span{
    float: right;
}

.display-flex-end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap);
}

.display-none{
    display: none;
}

.display-flex-space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
}

.display-flex-space-around{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
}

.display-flex-space-evenly{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: var(--gap);
}

.primary-color{
    background-color: var(--primary-color);
}

.primary-color *{
    color: white;
}

.primary-color-text{
    color: var(--primary-color) !important;
}

.primary-color-text *{
    color: var(--primary-color) !important;
}

button{
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
    height: 65px;
    padding: 0 var(--padding);
    border-radius: var(--radius);
    width: 100%;
    border: none;
}

button *{
    color: white !important;
}

.button-width-auto{
    width: auto !important;
}

.text-white{
    color: white;
}

.text-white *{
    color: white !important;
}

.text-feint{
    color: var(--feint);
}

.text-feint *{
    color: var(--feint) !important;
}

.back-white{
    background-color: white;
}

.back-feint{
    background-color: var(--feint);
}

.back-feint *{
    color: white !important;
}

button:focus, input:focus, select:focus{
    outline: none;
}

.float-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--padding);
}

.centered{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: var(--padding);
}

.float-bottom-abs{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--padding);
}

.text-small{
    font-size: 8px;
}

.text-mid{
    font-size: 16px;
}

.icon-mid{
    font-size: 45px !important;
}

.breaker{
    padding-top: 25px;
}

.text-align-center{
    text-align: center;
}

.header-welcome{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: var(--padding);
    background-image: linear-gradient(var(--feint), transparent);
    z-index: 20;
}

.header-welcome *{
    color: white;
}

.action-icon{
    padding: 20.5px;
    background-color: var(--primary-color);
    border-radius: var(--radius-round);
    color: white !important;
    opacity: 0.9;
}


.h-100{
    height: 100%;
}

.w-100{
    width: 100%;
}

.p-relative{
    position: relative;
}

.day-ride{
    width: 100%;
    background-color: var(--feint);
    border-radius: 20px;
}

.day-ride *{
    color: white;
    padding: var(--padding);
}

.night-ride{
    width: 100%;
    background-color: var(--feint);
}

.night-ride *{
    color: white;
    padding: var(--padding);
}

.padding{
    padding: var(--padding);
}

.prices-icon{
    padding: 20.5px;
    background-color: var(--primary-color);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--radius-round);
}

.design-float{
    width: 310px;
    background-color: var(--input-color);
    padding: var(--padding);
    border-radius: var(--radius);
    text-align: center;
}

.design-float-2{
    position: fixed;
    right: 4%;
    top: 6%;
    font-size: 250px !important;
}

.vert-flex{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-image: url("https://images.unsplash.com/photo-1502899576159-f224dc2349fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8OHx8fGVufDB8fHx8&w=1000&q=80");
    background-position: center;
    background-size: cover;
}

.vert-flex-content{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.welcome-banner{
    padding: var(--padding);
}

@keyframes visible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.design-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}

.ride-ariving{
    padding: 0 var(--padding);
    padding-right: 0;
    display: inline-flex;
    align-items: center;
    width: auto;
    background-color: var(--input-color);
    border-radius: var(--radius);
    height: 65px;
}

.ride-ariving-icon{
    background-color: var(--primary-color);
    color: white !important;
    border-radius: var(--radius);
    padding: 20px;
}

.design-container *{
    color: var(--feint);
}

.container{
    padding: var(--padding);
}

.welcome-bottom{
    background-color: white;
}

.android{
    background-color: var(--feint);
    border-radius: var(--radius);
    padding: var(--padding);
}

.android *{
    color: white;
}

.stores img{
    width: 20px
}

.app-banner{
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1502899576159-f224dc2349fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8OHx8fGVufDB8fHx8&w=1000&q=80");
    background-position: center;
    background-size: cover;
    padding: var(--padding);
    width: 310px;
}

.app-banner *{
    color: white;
}

.prices-design{
    position: relative;
}
